<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>PhoneListServlet</display-name>
    <servlet-name>PhoneListServlet</servlet-name>
    <servlet-class>com.fit.se.controllers.PhoneListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneListServlet</servlet-name>
    <url-pattern>/PhoneListServlet</url-pattern>
  </servlet-mapping>
  <display-name>Lab05_Bai08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddPhoneServlet</display-name>
    <servlet-name>AddPhoneServlet</servlet-name>
    <servlet-class>com.fit.se.controllers.AddPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhoneServlet</servlet-name>
    <url-pattern>/AddPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagePhoneServlet</display-name>
    <servlet-name>ManagePhoneServlet</servlet-name>
    <servlet-class>com.fit.se.controllers.ManagePhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagePhoneServlet</servlet-name>
    <url-pattern>/ManagePhoneServlet</url-pattern>
  </servlet-mapping>
</web-app>