<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd"> 

	 <context:component-scan base-package="iuh.fit.se.libs"></context:component-scan>
	<bean id="myFortune" class="iuh.fit.se.libs.HappyFortuneService">
	</bean>
	
	<bean id="myCricketCoach" class="iuh.fit.se.libs.CricketCoach">
		<property name="fortuneService" ref="myFortune" />
		<property name="emailAddress" value="trannguyenvu3482@gmail.com" />
		<property name="team" value="Vietnam" />
	</bean> 
	
	<bean id="myTennisCoach" class="iuh.fit.se.libs.TennisCoach">
		<constructor-arg ref="myFortune" />
	</bean>
	
	<bean id="myCoach" class="iuh.fit.se.libs.BaseballCoach">
		<constructor-arg ref="myFortune" />
	</bean>
 </beans>
